environment_variables: {}
external_package_dirs: []
model_metadata: {}
model_name: {{project_name}}
python_version: {{python_version}}
requirements: []
resources:
  accelerator: {{accelerator}}
  cpu: 500m
  memory: 512Mi
  use_gpu: {{use_gpu}}
secrets: {}
system_packages: []
